# Node dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Build output
.dist/
dist/
build/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Env files
.env
.env.*
!.env.example

# Temporary
.tmp/
.temp/
.cache/

# OneDrive artifacts
~$*

# Optional lock files
package-lock.json
npm-shrinkwrap.json
yarn.lock
pnpm-lock.yaml
